.container{
    text-align: center;
}
mat-form-field{
    
    width: 90%;
    
}
h2 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
button{
    width: 90%;
}