.container{
    text-align: center;
}
mat-form-field{
    
    width: 90%;
    
}
h2 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
button{
    width: 90%;
}
.alert{
    margin: auto;
   width: 90%;
    margin-bottom: 10px !important;
    background-color: rgb(247, 14, 14);
    padding: 10px 20px;
    color: white;
  
}